In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
from tensorflow import keras

In [3]:
tf.__version__

'2.0.0'

In [4]:
TRAIN_DATA_URL = "https://storage.googleapis.com/tf-datasets/titanic/train.csv"
TEST_DATA_URL = "https://storage.googleapis.com/tf-datasets/titanic/eval.csv"
train_data = pd.read_csv(TRAIN_DATA_URL)
test_data = pd.read_csv(TEST_DATA_URL)

In [7]:
print(train_data.head())
print(test_data.head())

   survived     sex   age  n_siblings_spouses  parch     fare  class     deck  \
0         0    male  22.0                   1      0   7.2500  Third  unknown
1         1  female  38.0                   1      0  71.2833  First        C
2         1  female  26.0                   0      0   7.9250  Third  unknown
3         1  female  35.0                   1      0  53.1000  First        C
4         0    male  28.0                   0      0   8.4583  Third  unknown

   embark_town alone
0  Southampton     n
1    Cherbourg     n
2  Southampton     y
3  Southampton     n
4   Queenstown     y
   survived     sex   age  n_siblings_spouses  parch     fare   class  \
0         0    male  35.0                   0      0   8.0500   Third
1         0    male  54.0                   0      0  51.8625   First
2         1  female  58.0                   0      0  26.5500   First
3         1  female  55.0                   0      0  16.0000  Second
4         1    male  34.0                   0      0  13.0000  Second

      deck  embark_town alone
0  unknown  Southampton     y
1        E  Southampton     y
2        C  Southampton     y
3  unknown  Southampton     y
4        D  Southampton     y

In [4]:
train_data[train_data.isnull()].count()

survived              0
sex                   0
age                   0
n_siblings_spouses    0
parch                 0
fare                  0
class                 0
deck                  0
embark_town           0
alone                 0
dtype: int64

In [8]:
y_train= train_data.pop('survived')
y_test = test_data.pop('survived')

In [9]:
train_data.head()

,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,female,35.0,1,0,53.1000,First,C,Southampton,n
4,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [6]:
from sklearn.preprocessing import LabelEncoder
transfer = LabelEncoder()

cg_columns = ['sex','class','deck','embark_town','alone']

for col in cg_columns:
    train_data[col] = transfer.fit_transform(train_data[col] )
    test_data[col] = transfer.fit_transform(test_data[col])

In [ ]:
train_data

In [ ]:
train_dict = train_data.to_dict(orient="records")
test_dict = test_data.to_dict(orient="records")

In [ ]:
# 4、字典特征抽取
from sklearn.feature_extraction import DictVectorizer
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [ ]:
transfer = DictVectorizer(sparse=True)
train_dict = transfer.fit_transform(train_dict)
test_dict = transfer.transform(test_dict)

In [ ]:
train_data1 = pd.DataFrame(train_dict)
test_data1 = pd.DataFrame(test_dict)

In [ ]:
train_data1

In [ ]:
# from sklearn.preprocessing import StandardScaler
# transfer = StandardScaler()
# x_train = transfer.fit_transform(train_data1)
# x_test = transfer.fit_transform(test_data1)

In [ ]:

model = keras.Sequential()
model.add(keras.layers.Dense(100, input_shape = (9,), activation='selu'))
model.add(keras.layers.Dense(100, activation='selu'))
model.add(keras.layers.Dense(1, activation='sigmoid'))#Sigmoid 激活函数，其函数值为介于 0 与 1 之间的浮点数，表示概率或置信度。

model.compile(optimizer='nadam',#optimizer优化器
              loss='binary_crossentropy',#由于这是一个二分类问题且模型输出概率值（一个使用 sigmoid 激活函数的单一单元层），我们将使用 binary_crossentropy 损失函数。
              metrics=['accuracy'])#准确率（accuracy）结果会返回一个accuracy

model.summary()

In [ ]:
type(train_data)

In [ ]:
history = model.fit(train_data1,y_train,epochs=100, 
                    validation_split=0.2,
                    )

In [ ]:
pd.DataFrame(history.history).plot()
plt.grid(True)
plt.show()

In [ ]:
model.evaluate(test_data1,y_test)