### 1、获取数据
### 2、合并表
### 3、找到userid和saile的关系
### 4、PCA降维

In [2]:
import pandas as pd

In [3]:
order_products =pd.read_csv('data/instacart/order_products__prior.csv')
aisles =pd.read_csv('data/instacart/aisles.csv')
orders =pd.read_csv('data/instacart/orders.csv')
products =pd.read_csv('data/instacart/products.csv')

In [4]:
#合并aisles和products
tab1 = pd.merge(aisles,products,on =["aisle_id",'aisle_id'])

In [5]:
tab2 = pd.merge(tab1,order_products,on =["product_id",'product_id'])

In [6]:
tab3= pd.merge(tab2,orders,on =["order_id",'order_id'])

In [7]:
tab3.head()

,aisle_id,aisle,product_id,product_name,department_id,order_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,prepared soups salads,209,Italian Pasta Salad,20,94246,5,0,114082,prior,26,0,20,1.0
1,1,prepared soups salads,22853,Pesto Pasta Salad,20,94246,4,0,114082,prior,26,0,20,1.0
2,4,instant foods,12087,Chicken Flavor Ramen Noodle Soup,9,94246,15,0,114082,prior,26,0,20,1.0
3,4,instant foods,47570,Original Flavor Macaroni & Cheese Dinner,9,94246,14,1,114082,prior,26,0,20,1.0
4,13,prepared meals,10089,Dolmas,20,94246,25,0,114082,prior,26,0,20,1.0

In [8]:
# 3、找到userid和saile的关系
tab = pd.crosstab(tab3['user_id'],tab3['aisle'])

In [9]:
tab.shape

(206209, 134)

In [10]:
#PCA降维
from sklearn.decomposition import PCA

In [11]:
#1实例化一个转换器类
transfer = PCA(n_components=0.95)
#2调用 fit_transform
data_new = transfer.fit_transform(tab)
data_new

array([[-24.21565874,   2.4294272 ,  -2.46636975, ...,  -0.08877715,
         -0.38087761,   0.21568831],
       [  6.46320806,  36.75111647,   8.38255336, ...,   1.912145  ,
          1.79468946,  -0.70142249],
       [ -7.99030162,   2.40438257, -11.03006405, ...,  -0.72188348,
         -1.15719089,  -0.23704277],
       ...,
       [  8.61143331,   7.70129866,   7.95240226, ...,   0.23971061,
         -0.78590175,  -2.65945606],
       [ 84.08621987,  20.41873398,   8.05410372, ...,  -1.66893212,
          0.5042934 ,   3.82546312],
       [-13.95345619,   6.64621821,  -5.23030367, ...,  -1.64144758,
         -3.39233648,  -0.31410713]])

In [12]:
data_new.shape

(206209, 44)

# kmeans预估器流程

In [13]:
from sklearn.cluster import KMeans

In [14]:
estimator = KMeans(n_clusters=3)
estimator.fit(data_new)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [18]:
y_predict = estimator.predict(data_new)
y_predict[:300]#看出分成了三类，由1，2，3表示

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2,
       0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0,
       2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       0, 2, 2, 2, 2, 2, 2, 1, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 0, 0,
       0, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2,
       2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 2, 2, 0, 2,
       0, 2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 0, 0, 0, 2, 0, 2, 2, 2, 2, 2, 2,
       0, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 1,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 0, 2, 2, 0, 2, 2,
       2, 2, 1, 0, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0], dtype=int32)

### 保存模型

In [15]:
import joblib
joblib.dump(estimator,'data/kmeans_sale.pkl')

['data/kmeans_sale.pkl']

## 对模型进行评估

In [19]:
# 模型评估-轮廓系数
from sklearn.metrics import silhouette_score

In [20]:
silhouette_score(data_new, y_predict)

0.5366618821483522