In [1]:
import pandas as pd

In [2]:
# 1、获取数据
data = pd.read_csv("./FBlocation/train.csv")

In [4]:
data.head()

   row_id       x       y  accuracy    time    place_id
0       0  0.7941  9.0809        54  470702  8523065625
1       1  5.9567  4.7968        13  186555  1757726713
2       2  8.3078  7.0407        74  322648  1137537235
3       3  7.3665  2.5165        65  704587  6567393236
4       4  4.0961  1.1307        31  472130  7440663949

In [5]:
# 2、基本的数据处理
# 1）缩小数据范围
data = data.query("x < 2.5 & x > 2 & y < 1.5 & y > 1.0")

In [7]:
data.head()

      row_id       x       y  accuracy    time    place_id
112      112  2.2360  1.3655        66  623174  7663031065
180      180  2.2003  1.2541        65  610195  2358558474
367      367  2.4108  1.3213        74  579667  6644108708
874      874  2.0822  1.1973       320  143566  3229876087
1022    1022  2.0160  1.1659        65  207993  3244363975

In [10]:
# 2）处理时间特征
time_value = pd.to_datetime(data["time"], unit="s")

In [13]:
date = pd.DatetimeIndex(time_value)

In [21]:
data["day"] = date.day

/Users/zwy/.virtualenvs/python4/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [22]:
data["weekday"] = date.weekday

/Users/zwy/.virtualenvs/python4/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
data["hour"] = date.hour

/Users/zwy/.virtualenvs/python4/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
data.head()

      row_id       x       y  accuracy    time    place_id  day  weekday  hour
112      112  2.2360  1.3655        66  623174  7663031065    8        3     5
180      180  2.2003  1.2541        65  610195  2358558474    8        3     1
367      367  2.4108  1.3213        74  579667  6644108708    7        2    17
874      874  2.0822  1.1973       320  143566  3229876087    2        4    15
1022    1022  2.0160  1.1659        65  207993  3244363975    3        5     9

In [29]:
# 3）过滤签到次数少的地点
place_count = data.groupby("place_id").count()["row_id"]

In [52]:
data.groupby("place_id").count().head()

            row_id   x   y  accuracy  time  day  weekday  hour
place_id
1012165853       1   1   1         1     1    1        1     1
1013991737       3   3   3         3     3    3        3     3
1014605271      28  28  28        28    28   28       28    28
1015645743       4   4   4         4     4    4        4     4
1017236154      31  31  31        31    31   31       31    31

In [33]:
place_count[place_count > 3].head()

place_id
1014605271    28
1015645743     4
1017236154    31
1024951487     5
1028119817     4
Name: row_id, dtype: int64

In [36]:
data_final = data[data["place_id"].isin(place_count[place_count > 3].index.values)]

In [38]:
data_final.head()

      row_id       x       y  accuracy    time    place_id  day  weekday  hour
112      112  2.2360  1.3655        66  623174  7663031065    8        3     5
367      367  2.4108  1.3213        74  579667  6644108708    7        2    17
874      874  2.0822  1.1973       320  143566  3229876087    2        4    15
1022    1022  2.0160  1.1659        65  207993  3244363975    3        5     9
1045    1045  2.3859  1.1660       498  503378  6438240873    6        1    19

In [39]:
# 筛选特征值和目标值
x = data_final[["x", "y", "accuracy", "day", "weekday", "hour"]]
y = data_final["place_id"]

In [41]:
x.head()

           x       y  accuracy  day  weekday  hour
112   2.2360  1.3655        66    8        3     5
367   2.4108  1.3213        74    7        2    17
874   2.0822  1.1973       320    2        4    15
1022  2.0160  1.1659        65    3        5     9
1045  2.3859  1.1660       498    6        1    19

In [43]:
y.head()

112     7663031065
367     6644108708
874     3229876087
1022    3244363975
1045    6438240873
Name: place_id, dtype: int64

In [44]:
# 数据集划分
from sklearn.model_selection import train_test_split

In [45]:
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [47]:
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

In [48]:
# 3）特征工程：标准化
transfer = StandardScaler()
x_train = transfer.fit_transform(x_train)
x_test = transfer.transform(x_test)

# 4）KNN算法预估器
estimator = KNeighborsClassifier()

# 加入网格搜索与交叉验证
# 参数准备
param_dict = {"n_neighbors": [3, 5, 7, 9]}
estimator = GridSearchCV(estimator, param_grid=param_dict, cv=3)
estimator.fit(x_train, y_train)

# 5）模型评估
# 方法1：直接比对真实值和预测值
y_predict = estimator.predict(x_test)
print("y_predict:\n", y_predict)
print("直接比对真实值和预测值:\n", y_test == y_predict)

# 方法2：计算准确率
score = estimator.score(x_test, y_test)
print("准确率为：\n", score)

# 最佳参数：best_params_
print("最佳参数：\n", estimator.best_params_)
# 最佳结果：best_score_
print("最佳结果：\n", estimator.best_score_)
# 最佳估计器：best_estimator_
print("最佳估计器:\n", estimator.best_estimator_)
# 交叉验证结果：cv_results_
print("交叉验证结果:\n", estimator.cv_results_)

/Users/zwy/.virtualenvs/python4/lib/python3.6/site-packages/sklearn/preprocessing/data.py:617: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/zwy/.virtualenvs/python4/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/Users/zwy/.virtualenvs/python4/lib/python3.6/site-packages/ipykernel_launcher.py:4: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  after removing the cwd from sys.path.
/Users/zwy/.virtualenvs/python4/lib/python3.6/site-packages/sklearn/model_selection/_split.py:626: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=3.
  % (min_groups, self.n_splits)), Warning)

y_predict:
 [8032468532 4374582281 4691678575 ... 8790355618 9764078387 4231692509]
直接比对真实值和预测值:
 17683766    False
20042534    False
12566398    False
20708000     True
13304817    False
19903855    False
17808122     True
26719007     True
20944945     True
24404852     True
24391195     True
1843045     False
17210764    False
14677252    False
23600653    False
25960105    False
9744268     False
18919096    False
16315453    False
7388074     False
26559229    False
23554213     True
1618140     False
11005086    False
22094676    False
9333169     False
4525084      True
18771828    False
7574067      True
23904207    False
            ...
21058212     True
8007870     False
15611307    False
21386496     True
1313966      True
2894176     False
23452027    False
2201738     False
18022385    False
7528126     False
14500447    False
21449881    False
26394159    False
12306879    False
15372956    False
4959535     False
830247       True
8132708      True
5822888     False
20715050     True
26936319    False
15849713     True
6806681     False
16960152    False
20101374     True
24246597    False
23273806    False
22188893    False
21596092    False
22202442     True
Name: place_id, Length: 20228, dtype: bool
准确率为：
 0.36311053984575836
最佳参数：
 {'n_neighbors': 5}
最佳结果：
 0.3356679081111367
最佳估计器:
 KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')
交叉验证结果:
 {'mean_fit_time': array([0.03720196, 0.03650546, 0.02907785, 0.03828828]), 'std_fit_time': array([0.00348066, 0.00656002, 0.00112442, 0.0068514 ]), 'mean_score_time': array([0.82536308, 1.03587866, 0.9283038 , 1.35490775]), 'std_score_time': array([0.05589987, 0.0772006 , 0.01447658, 0.13373774]), 'param_n_neighbors': masked_array(data=[3, 5, 7, 9],
             mask=[False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_neighbors': 3}, {'n_neighbors': 5}, {'n_neighbors': 7}, {'n_neighbors': 9}], 'split0_test_score': array([0.32162149, 0.33198696, 0.3336902 , 0.32497932]), 'split1_test_score': array([0.32522496, 0.33343222, 0.33348166, 0.3306635 ]), 'split2_test_score': array([0.32732205, 0.34173909, 0.33932787, 0.33877531]), 'mean_test_score': array([0.32469266, 0.33566791, 0.33547016, 0.33139976]), 'std_test_score': array([0.00235723, 0.00428324, 0.00269684, 0.00565558]), 'rank_test_score': array([4, 1, 2, 3], dtype=int32), 'split0_train_score': array([0.58934044, 0.52323524, 0.4823462 , 0.45423965]), 'split1_train_score': array([0.59180344, 0.52390251, 0.48304331, 0.45526004]), 'split2_train_score': array([0.59080319, 0.52279583, 0.48304108, 0.45729001]), 'mean_train_score': array([0.59064902, 0.52331119, 0.48281019, 0.45559656]), 'std_train_score': array([0.00101141, 0.00045498, 0.0003281 , 0.00126783])}